.a-style{
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: url(img/icon_fujin.png#aa) no-repeat;
}
.a-sub-style{
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: url(img/gaoxin.png#aa) no-repeat;
}
