.b-style{
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: url(img/icon_wxyj.png#b) no-repeat 0 0;
}

.circle { background: url(img/icon_wxyj.png#b) no-repeat 0 0; }

.bbb { background: url(img/icon_wxyj.png#b) no-repeat 0 0; }
